<h1>Create an article</h1>

<%= form_for @article do |f| %>
    <p>
        <%= f.label :title, "title" %><br/>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description, "description" %><br/>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.submit "Create Article", disable_with: 'Submiting...' %>
    </p>
<% end %>